<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Edit Task{% else %}Add Task{% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
</head>
<body>
    <div class="container">
        <h1>{% if form.instance.pk %}Edit Task{% else %}Add Task{% endif %}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <button type="submit" class="btn">Save</button>
            </div>
        </form>
    </div>
</body>
</html>
